*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.svg{
    position: absolute;
    top: 8em;
}
#about, #store, .store-link{
    margin: 5em;
}
header{
    background-color: #62B0FE;
    padding: 2em 2em 1em 2em;
    display: flex;
    flex-direction: column;
}
.flex-head{
    display: flex;
    justify-content: space-between;
}
header i{
    margin: 0.7em;
    cursor: pointer;
}
:is(header, #about, #store, footer) a{
    color: #1b1c1e;
}
:is(#about, footer) a:not(.ftbtn):hover{
    text-decoration: underline;
}
body{
    background-color: #f5f5fa;
    color: #1b1c1e;
}

nav{
    text-align: center;
    word-spacing: 2.5rem; 
    font-size: 1.2em;
    font-weight: 600;
}
span{
    word-spacing: normal;
}
h1, h2, h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
}
p, li, a{
    font-family: 'Fira Sans', Arial, sans-serif;
    text-decoration: none;
}
#logo{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0.5em;
}
h1{
    margin-bottom: 0.5em;
    display: inline;
}
h2{
    font-size: 4.5em;
    margin-bottom: 0.3em;
}
.calling{
    padding: 4em;
    color: #f5f5fa;
}
#lowheader{
    background-image: url(immagini/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10em 5em 5em 5em;
    text-align: center;
}
.btn{
    background-color: #A7BDCD;
    display: block;
    width: max(225px, 13%);
    margin: 0 auto;
    padding: 16px 32px;
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.2em;
    color: #1b1c1e;
}
.btn:hover{
    background-color: #86A5BB;
}
.flex-cont{
    display: flex;
    gap: 5em;
}
#about img{
    width: 37%;
    object-fit: cover;
}
:is(#about, #store) p, #about ul{
    margin-top: 1rem;
    line-height: 2rem;
}
h3{
    font-size: 1.5em;
}
.del{
    margin-top: 3rem;
}
.center{
    text-align: center;
}
.data{
    text-align: center;
    flex-basis: 30%;
    padding: 1.5rem;
    border: #62B0FE solid 1px;
    border-radius: 12%;
}
#about span{
    font-size: 3em;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: #62B0FE;
}
.data p{
    font-size: 0.9rem;
}
@media (max-width: 800px) {
    .flex-col{
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }
    .data{
        width: 65%
    }
}
/*footer*/
footer{
    background-color: #62B0FE;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 1em 2em;
}
#ftcontainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.flogo{
    font-size: 1.5em;
}
.cr{
    opacity: 0.7;
    border-top: solid #1b1c1e 0.1px;
    font-size: 0.9rem;
    padding-top: 1rem;
}
.ftbtn{
    display: block;
    padding: 8px 16px;
    border: #1b1c1e solid 1px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin-top: 1rem;
}
.ftbtn:hover{
    text-decoration: none;
    border: #1b1c1e solid 2px;
}
iconify-icon{
margin-top: 1rem;
border-radius: 3px;
}
iconify-icon:hover{
color: #62B0FE;
background-color: #24337D;
}
/*discover*/
.container{
    margin: 1em 0;
    padding: 4em;
    margin-bottom: 2em;
}
.flex{
    display: flex;
    gap: 3em;
}
section ul{
    list-style-position: inside;
}
section{
    margin-top: 2rem;
}
#list a{
    display: block;
    text-decoration: none;
    color: #24337D;
    background-color: #E1E6FE;
    border: solid #24337D;
    margin: 0.6rem 0;
    padding: 0.6rem;
    text-align: center;
}
#list a:hover{
    color: #E1E6FE;
    background-color: #24337D;
    border: solid #24337D;
    font-weight: bold;
}
#list{
    width: max(900px, 70%);
    flex-grow: 1;
}
.species{
    padding: 0;
}
.shark{
    padding: 4em 4em 0.5em 4em;
}
.shark:first-child{
    padding-top: 2em;
}
.shark-data{
    list-style-type: none;
    padding-inline-start: 0;
}
.shark img, .shark .content{
    margin-top: 1em;
}

.shark:nth-of-type(3n+1){
    background-color: #24337D;
    color: #E1E6FE;
}
.shark:not(.abs):nth-of-type(3n+2){
    background-color: #A7BDCD;
}
.shark:nth-of-type(3n){
    background-color: #62B0FE;
}
.abs{
    position: absolute;
}
@media (max-width: 500px) {
    .flex{
        flex-direction: column;
    }
    .shark img{
        float: none;
    }
}
.store-link{
    text-align: center;
}
.store-link a{
    width: max(200px, 13%);
}
/*merch*/
.container1{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 1em;
    margin: 5em 0em;
}
.prodimg{
    padding: 3em 1.5em 2em 1.5em;
    background-color: #e5e6e8;
    height: 14em;
    text-align: center;
  }
  .product p{
    text-align: center;
  }
  .product{
    border: solid 0.08em transparent;
    flex-shrink: 0;
    width: 14em;
  }
@media (max-width: 500px) {
    #store{
        margin: 5em 1.5em;
    }
  .container1{
      grid-template: repeat(8, 1fr) / repeat(2, 1fr);
      text-align: center;
      transform-origin: top center;
    }
}