* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", "Optima", serif;
 }
 @font-face {
	font-family: 'Playfair Display';
	src: local('playfair'), url('PlayfairDisplay-Regular.ttf') format('truetype');
	}
 header{
    background-color: #821d1d;
    color:white;
 }
 .logo{
    position: absolute;
    background-color: #EDDBC0;
    max-width: 40%;
 }
 .logo a{
    text-decoration: none;
 }
 .lowheader{
    background-image: url(immagini/hotel6_11zon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
 }
 h1{
    color: #8C5B26;
    font-family: 'Grand Hotel', cursive;
    font-size: 1.7em;
    font-weight: normal;
    font-style: italic;
    word-spacing: 0.1rem;
    margin: 1em;
 }
 h2{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    font-size: 5vw;
 }
.navbar{
    display: flex;
    padding: 30px;
    word-spacing: 1.5rem; 
}
span{
    word-spacing: normal;
}
nav ul li{
    display: inline-block;
}
nav{
    text-align: center;
    flex-grow: 1;
   
}
nav a{
    color:white;
    text-decoration: none;
}
body{
    background-color: #EDDBC0;
}
#chisiamo{
    margin: 3em 4em 1em 4em;
}
h3{
    color: #8C5B26;
    padding: 0.5em 0;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 2rem;
}
main p{
    font-size: 1.2em;
    color: #554445;
}
#chisiamo .button{
    margin: 3em auto;
}
.button{
    display: block;
    width: max(160px, 13%);
    margin: 0 auto;
    background-color: #8C5B26;
    padding: 16px 32px;
    margin-bottom: 0;
    font-size: 1.1em;
    text-decoration: none;
    color:white;
    text-align: center;
 }
 .button:hover{
    text-decoration: underline;
 }
.grid-container{
    display: grid;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
}
.grid-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.paes{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.pool{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item6{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.formprenotazione{
    margin: 1em 3em 2em 3em;
    display: flex;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
    gap:2em;
}
fieldset{
    display: flex;
    flex-direction: row;
    border: none;
}
.two{
    justify-content: space-around;
    min-width: 20em;
}
.three{
    justify-content: space-between;
}

form input{
    display: inline;
    border: none;
    padding: 0.5em;
    margin-top: 0.3em;
    font-size: 0.9em;
    justify-self: center;
}
.two :is(input, label){
    width: 9em;
}
.three :is(input, label){
    width: 5em;
}
form input:focus{
    outline: 2px solid #8C5B26;
}

label{
    color:#8C5B26;
    font-weight: bold;
    display: block;
    margin: 0.5em 0;
    height: unset;
}
form .button{
    width: 45%;
}
footer{
    background-color: #821d1d;
    color: white;
}
.f-logo{
    font-style: italic;
    font-size: 2em;
    font-family: 'Grand Hotel', cursive;
}
@media screen and (max-width: 500px){
    .lowheader{
        padding-top: 5%;
        background-position: center top;
        background-size: 200%;
        height: 40vh
    }
    h1{
        font-size: 1.2em;
        margin: 0.8em;
    }
    h2{
        font-size: 3rem;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    grid-container{
        gap: 0.5em;
    }
    .formprenotazione{
        flex-direction: column;
        gap: 1em;
        margin: 1em 2em 2em 2em;
    }
    .grid-container{
        display: flex;
        overflow-x: scroll;
        align-items: center;
        height: 90vh;
    }
}                          
#rooms{
    margin: 6em 3em;
    display: flex;
    justify-content: space-around;
    height: 14em;
}
.room{
    background-color: rgb(255, 255, 255, 0.5);
    position: relative;
    top: 9em;
    z-index: 3;
    padding: 1em 1em;
    text-align: center;
    color:#8C5B26;
}
.image{
    object-fit: cover;
    width: 10em;
    height: 14em;
}
summary::marker{ display:none; } 
summary{ 
    list-style: none; 
    height: 14em;
}