* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", "Optima", serif;
    box-sizing: border-box;
 }
 /*font setting*/
 @font-face {
	font-family: 'Playfair Display';
	src: local('playfair'), url('PlayfairDisplay-Regular.ttf') format('truetype');
	}
/*header*/
 header{
    background-color: #821d1d;
    color:#FCFAFA;
 }
 .logo{
    position: absolute;
    background-color: #FCFAFA;
    max-width: 50%;
 }
 .logo a{
    text-decoration: none;
 }
 .lowheader{
    background-image: url(immagini/hotel6.2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
 }
 h1{
    color: #8C5B26;
    font-family: 'Courgette', cursive;
    font-size: 1.7em;
    font-weight: normal;
    font-style: italic;
    word-spacing: 0.03rem;
    margin: 1em;
 }
 h1 span{
    letter-spacing: 0.5rem;
    font-size: 2rem;
    padding: 0.3em;
 }
 h2{
    text-align: center;
    padding: 15%;
    font-size: 7vw;
 }
.navbar{
    display: flex;
    padding: 2em;
    word-spacing: 1.5rem; 
}
span{
    word-spacing: normal;
}
nav ul li{
    display: inline-block;
}
nav{
    text-align: center;
    flex-grow: 1;
   
}
nav a{
    color:#FCFAFA;
    text-decoration: none;
}
/*responsive dropdown header for mobile*/
@media (max-width: 1100px) {
    ul{
        display: flex;
        gap: 2em;
        flex-direction: column;  
    }
    #menucont{
        display: block;
        width: 100%;
        position: absolute;
        top: 63px;
        left: 0;
        background-color:#821d1d;
        padding: 2em;
        padding-top: 6em;
        z-index: 0;
        min-height: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }
    .logo{
        z-index: 1;
    }
    #ham{
        display: block;
        height:19.5px;
        width: 24px;
        position: absolute;
        top: 23px;
        align-self: center;
        right: 2em;
        display: flex;
        z-index: 1;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        display: block;
        height: 3px;
        width: 100%;
        background: white;
      }
      #menucont.openmenu {
        max-height: 482px; /* o qualsiasi altezza massima desideri */
        opacity: 1;
    }
}
/*main page*/
body{
    background-color: #EDDBC0;
    color: #554445;
}
#chisiamo{
    margin: 3em 4em 1em 4em;
}
h3{
    color: #8C5B26;
    padding: 0.5em 0;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 2rem;
}
main p{
    font-size: 1.2em;
    color: #554445;
}
#chisiamo .button{
    margin: 3em auto;
}
.button{
    display: block;
    width: max(160px, 13%);
    margin: 0 auto;
    background-color: #8C5B26;
    padding: 16px 32px;
    margin-bottom: 0;
    font-size: 1.1em;
    text-decoration: none;
    color:#FCFAFA;
    text-align: center;
 }
 .button:hover{
    text-decoration: underline;
 }
.grid-container{
    display: grid;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
}
.grid-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.paes{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.pool{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item6{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
/*booking form*/
.formprenotazione{
    margin: 1em 3em 2em 3em;
    display: flex;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
    gap:2em;
}
fieldset{
    display: flex;
    flex-direction: row;
    border: none;
}
.two{
    justify-content: space-around;
    min-width: 20em;
}
.three{
    justify-content: space-between;
}

form input{
    display: inline;
    border: none;
    padding: 0.5em;
    margin-top: 0.3em;
    font-size: 0.9em;
    justify-self: center;
}
.two :is(input, label){
    width: 9em;
}
.three :is(input, label){
    width: 5em;
}
form input:focus{
    outline: 2px solid #8C5B26;
}
label{
    color:#8C5B26;
    font-weight: bold;
    display: block;
    margin: 0.5em 0;
    height: unset;
}
form .button{
    width: 45%;
}
footer{
    background-color: #821d1d;
    color: #FCFAFA;
}
.f-logo{
    font-style: italic;
    font-size: 2em;
    font-family: 'Courgette', cursive;
}
/*mobile format titles*/
@media screen and (max-width: 700px){
    h1{
        font-size: 4vw;
    }
    h1 span{
        font-size: 5vw;
        letter-spacing: 1vw;
    }
    h2{
        padding-top: 25%;
        padding-bottom: 25%;
        font-size: 3rem;
    }
}
/*some little screen adjustments*/
@media screen and (max-width: 500px){
    grid-container{
        gap: 0.5em;
    }
    .formprenotazione{
        flex-direction: column;
        gap: 1em;
        margin: 1em 2em 2em 2em;
    }
    .grid-container{
        display: flex;
        overflow-x: scroll;
        align-items: center;
        height: 90vh;
    }
}     

/*rooms page*/    
.rooms-section{
    box-shadow: 0px 0px 8px 2px #8C5B26;
} 
#rooms{
    margin: 7em 2em;
}                
.slot{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    height: 14em;
}
.room-type{
    background-color: rgb(252, 250, 250, 0.7);
    position: relative;
    top: 5em;
    z-index: 3;
    padding: 1em 1em;
    text-align: center;
    color:#8C5B26;
}

.room-option{
    object-fit: cover;
    height: 14em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%; 
} 

h5, h4{
    color: #8C5B26;
    font-family: "Playfair Display";
    font-size: 1.2rem;
}
h4{
    text-align: center;
    padding: 1em 0;
}
.economy{
    background-image: url("immagini/camera economy.jpg");
}
.comfort{
    background-image: url("immagini/camera comfort1.jpg");
}
.deluxe{
    background-image: url("immagini/suite deluxe.jpg");
}
.vasca{
    background-image: url("immagini/camera con vasca2.jpg");
}
.room_gallery{
    flex-direction: row;
    gap: 1em;
    background-color: #FCFAFA;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    padding: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.room_gallery.open {
    max-height: 300px; /* o qualsiasi altezza massima desideri */
    opacity: 1;
}
.padding{
    padding: 1em;
}
.room-desc{
    border-top: 0.1px solid #8C5B26;
    padding-top: 0.2rem;
    margin-top: 0.2rem;
}
.room-gallery p{
    font-size: 1rem;
}
.amenities{
    font-size: 0.8rem; 
    padding-bottom: 0.2rem;
}
.flex-am{
    flex-grow: 1;
    display: grid;
    flex-direction: column;
}
.flex-desc{
    flex-shrink: 10;
}
.price{
    align-self: flex-end;
    margin-bottom: 0.3rem;
}
.num{
    font-size: 2rem;
    font-weight: bold;
}
.small{
    width: 80%;
    padding: 8px 16px;
    align-self: flex-end;
}