* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Roboto', sans-serif;
}
@font-face {
	font-family: 'Roboto';
	src: local('roboto'), url('Roboto-Regular.ttf') format('truetype');
	}
@font-face {
	font-family: 'Coolvetica';
	src: local('Coolvetica'), url('Coolvetica.ttf') format('truetype');
	}
h1, h2, h3, h4{
    font-family: "Coolvetica", sans-serif;
}
h2{
    font-size: 190%;
}
h3{
    font-size: 150%;
}
h4{
    font-size: 130%;
}
header{
    background-color:#3A2A6B;
    color: white;
}
header a{
    color: white;
    text-decoration: none;
    padding: 0.3em;
    border-radius: 3px;
}
header :is(a, ul span):hover{
    background-color: #44317D;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 2em;
  }
nav {
    flex: 1;
    text-align: right;
 }
.logo{
    display: flex;
    letter-spacing: 2px;
}
/*logo in navbar*/
.logo > h2{
    position: relative;
    top: 7.5px;
} 
#menu{
    display: inline;
    word-spacing: 1.5rem; 
}
#ham{
    display:none;
}
ul span{
    word-spacing: normal;
    padding: 0.3em;
}
/*bottoni*/
.btn{
    display: inline-block;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    text-decoration: none;
}
.violet{
    background-color: #7F5BEB;
}
.violet:hover{
    background-color: #684BBF;
}
.orange{
    background-color: #fa9192;
    margin-bottom: 20px;    
}
.orange:hover{
    background-color: #F97779;
}
.container{
    display: flex;
    /*background-color: #B8A6ED;*/
    background-color: #c4a6ed;
    margin: 3.5em 9% 3.5em 9%;
    padding: 5%;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
}
.text{
    color: white;
    display: inline;
    margin: 1em;
}
.name{
    position: relative;
    display: inline;
    padding: 0;
    font-size: 180%;
    letter-spacing: 2px;
}
/*immagine in about me*/
.imm{
    float: right;
    position: relative;
    display: inline;
    margin-top: 0;
    margin-left: 1.5em;
}
#aboutme{
   background-color: #EAE5FA;
    color:#271B46;
    padding: 3em;
}
.me{
    display: block;
    margin: 0 0 20px 0;
}
.skills{
    list-style-position: inside;
    margin-top: 1em;
}

#services{
    padding: 3em;
    color:#271B46;
    max-width: 100%;
}
.par{
    margin: 1em 0;
}
.par a{
    text-decoration: none;
}
.list{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    overflow-x:auto;
}
.product{
    border: solid #271B46;
    padding: 1em;
    margin: 0.5em;
    border-radius: 30px;
    text-align: center;
    width: 23em;
    text-align: center;
    color: #271B46;
}
.product > h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

#projects{
    background-color: #f5d7db;
    padding: 0.7em 0.7em 2em 0.7em;
    color: #271B46;
}
#projects ul{
    list-style-type: none;
}
.work{
    background-color: white;
}
.work img{
    width: 100%;
}
#projects h2, #projects h3{
    text-align: center;
    margin: 1em;
    color:#271B46;
}
@media (max-width: 600px) {
    .container{
        flex-direction: column;
        padding: 8%;
        justify-content: center;
    }
    .container img{
        max-width: 80%;
        height: auto;
        margin: 1em;
    }
    .text h4{
        font-size: 1.1em;
    }
    .product{
        max-width: 75vw;
        margin-right: 0.1em;
    }
    #ham{
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 2.5em;
        align-self: center;
        right: 2em;
        display: flex;
        z-index: 1;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
      }
    #menu{
        display: flex;
        gap: 1em;
        flex-direction: column;
        
    }
    .mymenu{
        display: block !important;
    }
    #menucont{
        display: none;
        min-width: 10em;
        width: 45%;
        position: absolute;
        top: 114px;
        right: 0;
        background-color:#3A2A6B;
        padding: 2em;
        z-index: 1;
    }
    
}
@media (max-width: 300px) {
    .container{
        margin: 3.5em 7%;
        padding: 6%;
    }
    .text h4{
        font-size: 1em;
    }
    .text h1{
        font-size: 1.7em;
    }
    .navbar{
        padding: 2em 1.5em;
    }
    #aboutme{
        padding: 2em;
    }
    .imm{
        height:240px;
        width: 240px;
        float: none;
        margin-left: -0.5em;
        overflow: hidden;
    }
}
footer{
    background-color:#3A2A6B;
    color: white;
}
/*logo in footer*/
.logo > h4{
    position: relative;
    top: 2px;
    letter-spacing: 1px;
}
.form{
    background-color: white;
    padding: 3em;
    color: #271B46;
}

.form h4{
    padding-bottom: 0.5em;
}
input{
    margin-bottom: 0.5em;
    height: 2em;
}
.foot{
    padding: 2em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.ftcont{
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}
@media (max-width: 600px) {
    .ftcont{
        flex-direction: column;
    }
    .foot{
        padding: 1.7em;
    }
    textarea{
        max-width: 90%;
    }
    .form{
        padding: 2em;
    }
}
.item p, .item a, #social a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.5vw 1vw;
    border-radius: 3px;
}
.item{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0.3em;
}
ion-icon{
    font-size: 24px;
}
iconify-icon:hover{
    background-color: #44317D;
}
#social{
    display: flex;
}
#cop{
    padding: 0.5em 0 0.5em 0;
    font-style: italic;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1em;
    justify-content: center;
}
@media (max-width: 600px) {
    .grid-container{
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
}
.text2{
    padding: 1em;
}
