* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5fa;
}
@font-face {
	font-family: 'Roboto';
	src: local('roboto'), url('Roboto-Regular.ttf') format('truetype');
    font-display: swap;
	}
@font-face {
	font-family: 'Coolvetica';
	src: local('Coolvetica'), url('Coolvetica.ttf') format('truetype');
    font-display: swap;
	}
h1, h2, h3, h4{
    font-family: "Coolvetica", sans-serif;
}
h2{
    font-size: 190%;
}
h3{
    font-size: 150%;
}
h4{
    font-size: 130%;
}
header{
    background-color:#5a4180;
    color: #f5f5fa;
}
header a{
    color: #f5f5fa;
    text-decoration: none;
    padding: 0.2em;
    border-radius: 3px;
}
header :is(a, ul span):hover{
    background-color: #664992;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 2em;
  }
nav {
    flex: 1;
    text-align: right;
 }
 /*logo in navbar*/
.logo{
    display: flex;
    letter-spacing: 2px;
}
.logo > h2{
    position: relative;
    top: 7.5px;
} 
#menu{
    display: inline;
    word-spacing: 1.5rem; 
}
#ham{
    display:none;
}
ul span{
    word-spacing: normal;
}
/*bottoni*/
.btn{
    display: inline-block;
    color: #f5f5fa;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    text-decoration: none;
}
.violet{
    background-color: #7F5BEB;
}
.violet:hover{
    background-color: #684BBF;
}
.orange{
    background-color: #fa9192;
    margin-bottom: 20px;    
}
.orange:hover{
    background-color: #F97779;
}
.container{
    display: flex;
    background-color: #c4a6ed;
    margin: 3.5em 9% 3.5em 9%;
    padding: 5%;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
}
.text{
    color: #f5f5fa;
    display: inline;
    margin: 1em;
}
.name{
    position: relative;
    display: inline;
    padding: 0;
    font-size: 180%;
    letter-spacing: 2px;
}
#aboutme img{
    width: 20em;
    object-fit: contain;
}
#aboutme{
   background-color: #EAE5FA;
    color:#271B46;
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
figure{
    display: flex;
    align-items: center;
}
.skills{
    list-style-position: inside;
    margin-top: 1em;
}
.about-text{
    margin-right: 1em;
}
#services{
    padding: 3em;
    color:#271B46;
    max-width: 100%;
    background-color: #f5f5fa;
}
.par{
    margin-top: 1em;
}
.par a{
    text-decoration: none;
}
.list{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    overflow-x:auto;
}
.product{
    border: solid #271B46;
    padding: 2em;
    margin: 0.5rem 1rem 0.5rem 0;
    border-radius: 20px;
    width: 23em;
    color: #271B46;
}
.product > h4, .space{
    margin-top: 5px;
    margin-bottom: 5px;
}
.icon{
    text-align: center;
}
.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    gap: 1em;
    justify-content: space-between;
}
#projects{
    background-color: #f5d7db;
    padding: 3em;
    color: #271B46;
}
#projects ul{
    list-style-type: none;
}
.work{
    background-color: #f5f5fa;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.work img{
    width: 100%;
}
#projects :is(h2, h3){
    text-align: center;
    margin-bottom: 1em;
    color:#271B46;
}
.readme{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 0.9rem;
    color:#271B46;
    border: solid #271B46 0.5px;
    border-radius: 30px;
}
.readme span:hover{
    text-decoration: underline;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 0.5em;
    margin-bottom: 1em;
}
.buttons > * {
    margin: 0;
  }

/*contacts and footer*/
footer{
    background-color:#5a4180;
    color: #f5f5fa;
}
/*logo in footer*/
.logo > h4{
    position: relative;
    top: 2px;
    letter-spacing: 1px;
}
.formcont{
    display: flex;
    justify-content: space-around;
}
.form{
    background-color: #f5f5fa;
    padding: 3em;
    width: 50%;
    border: none;
    color: #271B46;
}
form{
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
}
.form h2{
    padding-bottom: 0.3em;
}
.side{
    padding: 15% 5% 15% 0;
}
input{
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem;
    width: min(100%, 300px);
    border: solid rgba(31, 27, 70, 0.3) 1px;
    color: #271B46;
}
label{
    width: min(100%, 300px);
}
:is(input, textarea):focus{
    border: solid #7F5BEB 2px;
    outline: none;
}
textarea{
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem;
    width: 100%;
    border: solid rgba(31, 27, 70, 0.3) 1px;
}
.foot{
    padding: 3em 2.5em 2em 2.5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.ftcont{
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}
.ft-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
.item :is(p, a){
    display: inline-block;
    color: #f5f5fa;
    text-decoration: none;
    padding: 0.5vw 1vw;
    border-radius: 3px;
}
.item{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0.3em;
}
iconify-icon{
    position: relative;
    top: 2px;
}
#social{
    display: flex;
    align-items: center;
}
.icon-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0.5rem;
    height: 35px;
    flex-basis: 25%;
    width: 35px;
}
.icon-cont:hover{
    background-color: #f5f5fa;
}
.social-icon{
    color: #f5f5fa;
    padding: 1rem;
}
.social-icon:hover{
    color: #5a4180;
}
#cop{
    padding: 0.5em 0 0.5em 0;
    font-style: italic;
    text-align: center;
}
.text2{
    padding: 1em;
}
.submit{
    width: max(40%, 150px);
}
/*super thin viewport*/
@media (max-width: 300px) {
    .container{
        margin: 3.5em 7%;
        padding: 6%;
    }
    .text h4{
        font-size: 1em;
    }
    .text h1{
        font-size: 1.7em;
    }
    .navbar{
        padding: 2em 1.5em;
    }
    .imm{
        height:240px;
        width: 240px;
        float: none;
        margin-left: -0.5em;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
    }
    #aboutme, #services, .foot, #projects{
        padding-left: 1em;
        padding-right: 1em;
    }
    .form{
        padding: 1em;
    }
    .product{
        margin: 0.5rem 0;
        max-width: 100%;
    }
    .submit{
        width: 100%;
    }
}
@media (max-width: 400px) {
    .product{
        padding: 1em;
    }
}
@media (min-width: 301px) and (max-width: 600px) {
    #aboutme, #projects, #services{
        padding: 2em;
    }
    .foot{
        padding: 2em;
    }
    .form{
        padding: 0 2em;
    }
    .product{
        max-width: 75vw;
    }
}
@media (max-width: 600px) {
    .grid-container{
        display: flex;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        padding: 8%;
        justify-content: center;
    }
    .container img{
        max-width: 80%;
        height: auto;
        margin: 1em;
    }
    .text h4{
        font-size: 1.1em;
    }
    .ftcont{
        flex-direction: column;
    }
    .side{
        padding-bottom: 2em;
    }
    form{
      padding: 0 0 2em 0;
    }
    .form{
        width: 100%
    }
    .formcont{
      flex-direction: column-reverse;
      width: 100%;
    }
}
@media (max-width: 700px) {
    figure{
        justify-content: center;
        margin-top: 1em;
    }
    #aboutme img{
        width: calc(100vw - 3em);
        max-width: 350px;
    }
    #aboutme{
        flex-direction: column;
    }
    .ham{
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 2.5em;
        align-self: center;
        right: 2em;
        display: flex;
        background: transparent;
        z-index: 1;
        flex-direction: column;
        justify-content: space-between;
    }
      
    #ham {
        display: none;
      }
      
    .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #f5f5fa;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
    #menu{
        display: flex;
        gap: 2em;
        flex-direction: column;  
    }
    #menucont{
        display: block;
        min-width: 10em;
        width: 60%;
        position: absolute;
        top: 114px;
        right: 0;
        background-color:#5a4180;
        padding: 2em;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }
    #menucont.open {
        max-height: 400px;
        opacity: 1;
    }
    .line1{
        transform-origin: left center;
    }
    .line2{
        transform-origin: left center;
    }
    .line3{
        transform-origin: left center;
    }
    .ham input:checked ~ .line1 {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
    }     
    .ham input:checked ~ .line2 {
        width: 0%;
        opacity: 0;
    }      
    .ham input:checked ~ .line3 {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
    }
}
@media (min-width: 601px) and (max-width: 800px) {
    .grid-container{
        grid-template-columns: 48% 48%;
    }
}