*{
  box-sizing: border-box;
}
body{
    font-family: 'Cooper Hewitt', "Geneva", Tahoma, sans-serif;
    margin: 0;
}
@font-face {
	font-family: 'Poppins';
	src: local('poppins'), url('Poppins-Bold.otf') format('truetype');
	}
  @font-face {
    font-family: 'Cooper Hewitt Book';
    src: local('Cooper Hewitt Book'), url('CooperHewitt-Book.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Cooper Hewitt Semibold';
    src: local('Cooper Hewitt Semibold'), url('CooperHewitt-Semibold.otf') format('truetype');
  }
h1, h2, h3, h4, h5, nav, button, .btn{
  font-family: 'Poppins'
}
h1{
  font-size: 3.5em;
  font-weight:900;
  margin-bottom: 0;
}
.hmain p{
  font-family: 'Cooper Hewitt Semibold';
  font-size: 1.2em;
  margin: 0.5em 0;
}
#ham{
  display: none;
}
  .navbar {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 1.5em;
  }
  .navbar2{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255);
  }
  .home{
    background-image: url(immagini/nike.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 50em;
  }

  nav {
    flex: 1;
    text-align: right;
  }
  .hmain{
    text-align: left;
    margin: 8em 0 8em 0;
    padding: 2.5em 3em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    background-color: rgba(255, 255, 255, 0.5);
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
 .link {
    color:black;
    text-decoration: none;
    padding: 0.5em;
    border: solid transparent;
  }
  .link:hover ,.icon:hover:not(.ham){
    border: solid black;
  }
  .btn{
    display: inline-block;
    border: solid black;
    color: black;
    padding: 8px 30px;
    margin-top: 0.5em;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 550;
  }
  .btn:hover{
    background-color: black;
    color: white;
  }
  .logo{
    position: relative;
    left: 0.5em;
  }
  .icon{
    padding: 0.3em;
    margin: 0 0.2em;
    border: solid transparent;
  }
footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}
  #ftcontainer{
    display: flex;
    justify-content: space-between;
    margin: 2em;
    gap: 1em;
  }
  footer p{
    font-style: italic;
    text-align: center;
  }
  #wlogo{
    text-align: center;
    flex-grow: 0.5;
  }
  .foot{
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .social{
    display: flex;
    height: 32px;
    gap: 0.5em;
    margin-top: 1.67em;
    margin-right: 1em;
  }
  iconify-icon{
    padding: 2px;
    border-radius: 50px;
    background-color: white;
    border: solid white;
  }
  iconify-icon:hover{
    background-color: #C9CBCF;
    border: solid #C9CBCF;
  }
  .foot a{
    color: white;
    text-decoration: none;
  }
  .foot a:hover{
    text-decoration: underline;
  }
  form{
    width: 100%;
  }
  form input{
    display: inline-block;
    width: 100%;
    margin-top: 0.5em;
    background-color: black;
    border-bottom: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color:#ffffff;
  }
  textarea{
    margin-top: 0.5em;
    margin-right: 1em;
    background-color: black;
    border: 2px solid white;
    color:#ffffff;
    width: 100%;
  }
  form input:focus{
    border-bottom: 4px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
  }
  textarea:focus{
    border: 4px solid white;
    outline: none;
  }
  .negbtn{
    display: inline-block;
    border: solid white;
    color: white;
    background-color: black;
    padding: 2px 5px;
    margin-top: 0.5em;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 550;
    width: 5em;
  }
  .negbtn:hover{
    background-color: white;
    color: black;
  }
.black{
  background-color: black;
  color: white;
}
.inner{
  padding: 5em 2em 5em 2em;
}
.white{
  padding: 2em;
}

.sep{
  background-image: url(streetwear/backdef.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
}
.prodimg{
  padding: 5em 1.5em 5em 1.5em;
  background-color: #e5e6e8;
  height: 5em;
  text-align: center;
}
.tall{
  padding: 1em 1.5em 9em 1.5em;
}
.product p{
  text-align: center;
}
.product{
  border: solid 0.08em transparent;
  flex-shrink: 0;
  width: 14em;
}
.product:hover{
  border: solid 0.08em black;
}
  .container1{
  display: flex;
  gap: 1em;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  }
  .container1::-webkit-scrollbar {
    width: 0; /* Nascondi la barra di scorrimento su browser WebKit (Chrome, Safari, ecc.) */
  }
  .container1 {
    scrollbar-width: none; /* Nascondi la barra di scorrimento su browser che supportano lo standard CSS Scrollbars Level 1 */
  }
  .scroll-arrow {
    position: absolute;
    top: 50%;
    right: 10px; /* o la posizione desiderata */
    transform: translateY(-50%);
    cursor: pointer;
    /* Aggiungi l'icona come sfondo o utilizza un'icona font o SVG */
    /* background-image: url('path-to-your-arrow-icon.png'); */
    /* font-family: 'Font Awesome'; content: '\f061'; */
  }
  .cont a{
    color: black;
    text-decoration: none;
  }
  .disc{
    font-size: 0.9em;
    text-decoration: line-through;
  }
  .offer{
    font-weight: bold;
  }

  /*streetwear*/
  .filters{
    width: 20%;
  }
  .filters input{
    margin-bottom: 0.5em;
  }
  details:last-child{
    margin-bottom: 1em;
  }
  summary{
    margin: 1em 0;
  }
  .fil{
    border-bottom: 0.5px solid #C9CBCF
  }
  .filters h5{
    display: inline;
  }
  .filters h5:hover{
    cursor: pointer;
  }
  .snk{
    border-top: 0.5px solid #C9CBCF;
    padding: 1.5em;
    text-align: center;
  }
  .store{
    display: flex;
    gap: 2em;
  }
  .container2{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 1em;
  }
@media (max-width: 860px) {
  .navbar{
    justify-content: space-between;
  }
  /*hamburger menu*/
  #menucont ul{
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 2em;
    height: 80vh;
    position: relative;
    top: 2em;
}
  .header-icons{
    display: flex;
    gap: 5px;
    align-items: center;
  }
  #menucont{
      display: block;
      width: 100vw;
      height: 100vh; 
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(245, 245, 250, 0.7);
      backdrop-filter: blur(10px);
      padding: 2em;
      z-index: 2;
      min-height: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
  }
  .ham{
      height: 33px;
      width: 37px;
      display: flex;
      z-index: 3;
      flex-direction: column;
      justify-content: space-between;
      background: transparent;
      align-items: center;
  }
  .ham input {
    display: none;
  }
  .line {
      flex-basis: 15%;
      width: 100%;
      border-radius: 5px;
      background: #1b1c1e;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
  }
  #menucont.openmenu {
    opacity: 1;
    max-height: 100vh; 
}
  #menucont li{
    font-size: 2.5em;
  }
  .line1{
    transform-origin: left center;
  }
  .line2{
      transform-origin: left center;
  }
  .line3{
      transform-origin: left center;
  }
  .ham input:checked ~ .line1 {
      transform: rotate(45deg);
      top: 0px;
      left: 5px;
  }     
  .ham input:checked ~ .line2 {
      width: 0%;
      opacity: 0;
  }      
  .ham input:checked ~ .line3 {
      transform: rotate(-45deg);
      top: 28px;
      left: 5px;
  }
}
@media (max-width: 550px) {
  #ftcontainer{
    flex-direction: column;
    padding: 0 2em;
  }
  .foot{
    width: 100%;
  }
}
@media (max-width: 500px) {
  .sw{
    background-image: url(streetwear/backresp.jpg);
  }
  .filters{
    visibility: hidden;
    position: absolute;
  }
    /*.container2 .product{
      width: 10em;
    }
    .container2 .prodimg{
      height: 3em;
    }*/
    .container2{
      grid-template: repeat(8, 1fr) / repeat(2, 1fr);
      text-align: center;
      transform: scale(0.6);
      transform-origin: top center;
    }
  }
  